@mixin border-box() {
  *, :after, :before {
    box-sizing: border-box;
  }
}

@mixin create-grid-columns() {
  @for $i from 1 through $grid-columns {
    $items: ".#{$prefix}-col-#{$i}", ".#{$prefix}-col-xs-#{$i}", ".#{$prefix}-col-sm-#{$i}", ".#{$prefix}-col-md-#{$i}", ".#{$prefix}-col-lg-#{$i}";
    @each $item in $items {
      #{$item} {
        position: relative;
        min-height: 1px;
      }
    }
  }
}

@mixin float-grid-columns($class) {
  @for $i from 1 through $grid-columns {
    .#{$prefix}-col#{$class}-#{$i} {
      float: left;
      flex: 0 0 auto;
    }
  }
}

@mixin create-grid-options($class) {
  @for $i from 0 through $grid-columns {
    @if $i == 0 {
      .#{$prefix}-col#{$class}-#{$i} {
        display: none;
      }
      .#{$prefix}-col#{$class}-offset-#{$i} {
        margin-left: 0;
      }
      .#{$prefix}-col#{$class}-order-#{$i} {
        order: 0;
      }
    } @else {
      .#{$prefix}-col#{$class}-#{$i} {
        display: block;
        width: percentage($i / $grid-columns);
      }
      .#{$prefix}-col#{$class}-offset-#{$i} {
        margin-left: percentage($i / $grid-columns);
      }
      .#{$prefix}-col#{$class}-order-#{$i} {
        order: $i;
      }
    }
  }
}

@mixin create-grid($class: "") {
  @include float-grid-columns($class);
  @include create-grid-options($class);
}
